### Ignore everything
*

### Unignore folders
!/NN_Arch2/
!/NN_Arch2/output_files/
!/NN_Testbench/
!/RomDataMaker/
!/RomDataMaker/inference_samples/
!/RomDataMaker/quantized_params/

### Include by format
# Git files
!.gitignore

# Quartus files
!*.qpf
!*.qsf

# HDL
!*.vht
!*.vhd
!*.vhdl
!*.v
!*.sv
!*.vho
!*.vo
!*.do
!*.tcl

# Verilog constant includes
!*.h

# Quartus IP
!*.qip
!*.sip
!*.spd

# Timing
!*.sdc

# QSYS
!*.qsys
#*bak.qsys

#!*.sof
#!*.jic
#!*.pof

# Memory
!*.hex
!*.mif

# Python
!*.npz
!*.npy
!*.py

# Signaltap
#!*.stp

# Modelsim
!*.mpf

# Markup
!*.json

# Ignore black box files
*_bb.v